              </div> <!-- .inner -->
            </div> <!-- #content -->
        </div> <!-- #body -->

      
        <script src="/public/lib/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        {{ range .moreScripts }}
            <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
        {{ end }}
        {{ if .info.UseGa }}
            {{ template "common/_ga.html" . }}
        {{ end }}
        {{ if .info.UseGauges }}
            {{ template "common/_gauges.html" . }}
        {{ end }}
        
        {{ if eq .RunMode "dev" }}
            {{ template "debug.html" . }}
        {{ end }}
    </body>
</html>
